.home_container {
  text-align: center;
}

.blog_container {
  text-align: center;
  padding: 2.5rem; /* Assuming p-10 is equivalent to 2.5rem */
  overflow: hidden;
}

.blog_heading {
  font-size: 2.25rem; /* Assuming text-4xl is equivalent to 2.25rem */
  font-weight: bold;
  margin-top: 0.75rem; /* Assuming my-3 is equivalent to 0.75rem */
  margin-bottom: 0.75rem; /* Assuming my-3 is equivalent to 0.75rem */
}
